<div class="title">
  <h1><%= @post.title %></h1>
  <p><%= @post.created_at.strftime('%B %d, %Y') %></p>
</div>
<%= raw @post.body_html %>
<% if user_signed_in? %>
  <div class="edit-btn">
    <%= link_to 'edit', edit_post_path(@post.slug), class: 'btn btn-primary' %>
  </div>
<% end %>